#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#forecast-area {
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

#forecast-area .forecast-container {
  margin-right: calc(5px + 1.5625vw);
}

#forecast-area:last-child {
  margin-right: 0;
}

main {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
}