#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#forecast-container {
  display: flex;
  flex-direction: row;
  max-width: 600px;
}

#forecast-container .forecast-content {
  margin-right: calc(5px + 1.5625vw);
}

#forecast-container:last-child {
  margin-right: 0;
}