#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#forecast-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 2rem;
  margin-top: calc(1px + 1vw);
}

main {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}