#weather-container {
display: block;
border: solid 2px rgb(105, 105, 105);
border-radius: 20px;
align-content: center;
margin-bottom: calc(1px + 1vw);
padding: 0;
max-width: 600px;
margin: 0 auto;
}

#weather-content {
display: flex;
flex-direction: row;
justify-content: center;
}

img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
}

#icon-container {
    max-width: 100px;
    flex-grow: 1;
    align-content: center;
}