.temp-content {
display: flex;
flex-direction: row;
}

.temp-content > p {
    margin: 0;
}

.max-temp {
color: red;
}

.min-temp {
color: blue;
}

.semitransparent-bg {
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: 1px 1px 5px 10px rgba(255, 255, 255, 0.6);
}

.wind-temp-content {
    display: flex;
    flex-direction: column;
    padding-top: calc(1px + 1vw);
}

.wind-temp-content > * {
    margin: 0;
    padding: 0;
}

.rain-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.rain-content > p {
    margin: 0;
    padding: 0;
}