.forecast-content {
    display: flex;
    flex-direction: row;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(105, 105, 105);
    border-radius: 10px;
}

.day-of-week {
    margin-top: calc(-1px - 0.3vw);
    margin-bottom: calc(-1px - 0.8vw);
}