.temp-content {
display: flex;
flex-direction: row;
margin: 0;
padding: 0;
}

.max-temp {
color: red;
}

.min-temp {
color: blue;
}

.semitransparent-bg {
    background-color: rgba(200, 200, 200, 0.3);
    box-shadow: 1px 1px 5px 10px rgba(255, 255, 255, 0.6);
}

.wind-rain-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-content: flex-start; */
    /* background-color: blueviolet; */
    padding: 0;
    margin: 0;
}

.rain-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}

.rain-content > p {
    margin: 0;
    padding: 0;
}

.test {
    /* background-color: red; */
    margin: 0;
    padding: 0;
}